
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#CourseTitle{
  font-size: 80px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #000;
}

/* BODY
-------------------------------------------------- */
#NicePic{
	width: 450px;
	height: 250px;
}

/*-----------------TABLE-----------------*/


table {
    width:100%;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: left;
}
